<ion-header>
  <ion-navbar color="midnight-blue">
    <ion-buttons right>
      <button
        id="info"
        ion-button
        icon-only
        color="light"
        (click)="ticketTradeInfo()"
      >
        <ion-icon name="information-circle"></ion-icon>
      </button>
      <button id="logout" ion-button icon-only color="light" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons left>
      <button ion-button icon-only color="light" (click)="orderHistory()">
        <ion-icon name="clipboard"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title position text-center>Tickets</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-title position text-center>Purchased Tickets</ion-title>
  <ion-list>
    <div
      class="ngDiv"
      [id]="i"
      ion-item
      *ngFor="let item of items; let i = index"
    >
      <h1 hidden>{{ i + 1 }}</h1>
      <h2 position text-center>{{ item.Artist }}</h2>
      <h3 position text-center>{{ item.Venue }}</h3>
      <h4 position text-center>{{ item.Date }} AT {{item.Time}}</h4>
      <h5 position text-center>{{ item.Price }} paid with card ending in {{item.Card}}</h5>
      <h6 hidden>{{ item.Ticket }}</h6>
      <button
        [id]="i"
        class="adminButtons"
        ion-button
        icon-only
        color="midnight-blue"
        (click)="attended()"
      ><ion-icon name="checkmark-circle"></ion-icon>
      </button>
      <button
      [id]="i"
      class="adminButtons"
      ion-button
      icon-only
      color="midnight-blue"
      (click)="remove()"
    ><ion-icon name="close-circle"></ion-icon>
    </button>
    <button
    [id]="i"
    class="adminButtons"
    ion-button
    icon-only
    color="midnight-blue"
    (click)="viewTicket()"
  ><ion-icon name="images"></ion-icon>
  </button>
      <h6></h6>
    </div>
  </ion-list>

  <ion-title position text-center>Tickets Sold</ion-title>
  <ion-list>
    <div
      class="ngDiv"
      [id]="i"
      ion-item
      *ngFor="let item of itemSold; let i = index"
    >
      <h1 hidden>{{ i + 1 }}</h1>
      <h2 position text-center>{{ item.Artist }}</h2>
      <h3 position text-center>{{ item.Venue }}</h3>
      <h4 position text-center>{{ item.Date }}</h4>
      <h5 position text-center>{{ item.Price }} {{item.AccountNo}} {{ item.SortCode }}</h5>
      <button
        [id]="i"
        class="adminButtons"
        ion-button
        icon-only
        color="midnight-blue"
        (click)="attended()"
      ><ion-icon name="checkmark-circle"></ion-icon>
      </button>
      <button
      [id]="i"
      class="adminButtons"
      ion-button
      icon-only
      color="midnight-blue"
    ><ion-icon name="close-circle"></ion-icon>
    </button>
    <button
    [id]="i"
    class="adminButtons"
    ion-button
    color="midnight-blue"
  >{{item.Status}}
  </button>
      <h6></h6>
    </div>
  </ion-list>
</ion-content>
