.modal {
  background: rgba(0, 0, 0, 0.5) !important;
  padding: 7.5% 5% !important;
}

.ngDiv {
  border-radius: 20px;
  border: 3px solid midnightblue;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: grabbing;
}

.alert-button-group {
  flex-direction: row !important;
  text-align: center;
  color: midnightblue;
}

.canvasButton{
    position: absolute;
    top: 50%; left: 50%;
    width: 100px;
    margin-left: -50px; 
    height: 50px;
    margin-top: -25px;
  }

.alertButton {
  background-color: midnightblue;
  color: black;
}

.ngDivAccount {
  width: 97.5%;
  border-radius: 20px;
  border: 3px solid midnightblue;
}

.adminButtons {
  height: 75px;
  width: 80px;
  padding: 80px;
}

.addCardButtons {
  height: 50px;
  width: 47.5%
}


.buyPageButtons {
  height: 75px;
  width: 30%;
  padding: 80px;
}
.createListingButton {
  width: 97.5%;
  padding-right:20px;
}

.paymentList{
  width: 100%;
}

.paymentModalButtons{
  width: 102.5%;
  height: 50px;
  text-align: center;
  position: center;
}

.iconButtons {
  width: 47.8%;
  padding: 5px;
  text-align: center;
}

.imageButton {
  width: 80px;
}

.ion-canvas {
  height: 90%;
  width: 90%;
}

.buttonDeleteAccount {
  width: 100%;
}

.buyTicketButtons {
  height: 75px;
  width: 75px;
  padding: 80px;
}

.sellTicketButtons {
  height: 50px;
  width: 47.5%;
}

.ngDivAdmin {
  border-radius: 20px;
  border: 3px solid midnightblue;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: grabbing;
}

.modalButton {
  outline: none;
  position: center;
  height: 50px;
  text-align: center;
  width: 97.5%;
  border-radius: 40px;
  background: midnightblue;
  border: 2px solid black;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0;
}

.sellButton {
  outline: none;
  position: center;
  height: 50px;
  text-align: center;
  width: 97.5%;
  border-radius: 40px;
  background: midnightblue;
  border: 2px solid black;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0;
}

.loginButton {
  width: 48%;
  height: 75px;
}

.registerButton {
  outline: none;
  position: center;
  height: 50px;
  text-align: center;
  width: 97.5%;
  border-radius: 40px;
  background: midnightblue;
  border: 2px solid black;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0;
}

.infoWindowButton {
  text-align: center;
  border-radius: 20px;
  border: 3px solid black;
  outline: none;
  position: center;
  height: 50px;
  width: 97.5%;
  border-radius: 40px;
  background: midnightblue;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0;
}
