.modal {
  background: rgba(0, 0, 0, 0.5) !important;
  padding: 7.5% 5% !important;
}

.ngDiv {
  border-radius: 20px;
  //border: 3px solid midnightblue;
  background: lightgray;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: grabbing;
}

.modalButton {
  outline: none;
  position: center;
  height: 50px;
  text-align: center;
  width: 97.5%;
  border-radius: 40px;
  background: midnightblue;
  border: 2px solid black;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0;
}

.sellButton {
  outline: none;
  position: center;
  height: 50px;
  text-align: center;
  width: 97.5%;
  border-radius: 40px;
  background: midnightblue;
  border: 2px solid black;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0;
}

.loginButton {
  outline: none;
  position: center;
  height: 50px;
  text-align: center;
  width: 97.5%;
  border-radius: 40px;
  background: midnightblue;
  border: 2px solid black;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0;
}

.registerButton {
  outline: none;
  position: center;
  height: 50px;
  text-align: center;
  width: 97.5%;
  border-radius: 40px;
  background: midnightblue;
  border: 2px solid black;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0;
}

.infoWindowButton {
  outline: none;
  position: center;
  height: 50px;
  text-align: center;
  width: 97.5%;
  border-radius: 40px;
  background: midnightblue;
  border: 2px solid black;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0;
}
