page-page {
  p.solid {
    border: 2px midnightblue;
    border-style: solid;
    color: midnightblue
  }

  b.background {
    border: 2px midnightblue;
    border-style: solid;
    background-color: midnightblue;
    color: midnightblue
  }

#ngForButtons{
    outline:none;
    height: 50px;
    text-align: center;
    width: 250px;
    border-radius:40px;
    background:midnightblue;
    border: 2px solid black;
    color:white;
    letter-spacing:1px;
    text-shadow:0; 
}

  #infoWindowButton {
    margin: 10px;
    width: 112.5px;
    height: 30px;
    border: 5px midnightblue;
    border-style: outset;
    color: white;
    background-color: midnightblue;
    text-align: center
  }
}